body {
  padding: 10px;
  font-family: sans-serif;
}
.renderer {
  border: 1px solid lightslategrey;
  height: 150px;
}
.min-h4 {
  min-height: 8rem;
}
.editor-container .public-DraftEditor-content {
  min-height: 8rem;
}
